<header>
  <div class="fix960">
    <h1 class="left">
      <%= link_to (image_tag "logo.png", :alt=>"The ultimate countdown app"), root_path %>
    </h1>

    <% flash.each do |key, msg| %>
      <%= content_tag :h4, msg, :class => key %>
    <% end %>

    <div class="right">
      <div id="appInfo"></div>
      <div id="newTimer">
        <a href="#" id="newTimerBtn"></a>
        <div id="newTimerDialog">
          <%= form_for @counter,:remote => true,:id=>"targer" do |f| %>
            <% if @counter.errors.any? %>
              <div id="errorExplanation">
                <h3><%= pluralize(@counter.errors.count, "error") %> prohibited this post from being saved:</h3>
                <ul>
                  <% @counter.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <%= f.text_field :name, :placeholder=>"What'll happen?" %>
            <div class="validation" id="valid_name"></div>
            <%= f.text_field :date, :placeholder=>"Aky Today?" %>
            <div class="validation" id="valid_date"></div>
            <%= f.text_field :time, :placeholder=>"When exactly?" %>
            <div class="validation" id="valid_time"></div>
            <input type="submit" value=""/>
            <input type="reset" value="Cancel"/>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="fix960">
    <div class="counters">
      <% @counters.each do |counter| %>
        <%= render counter %>
      <% end %>
    </div>
  </div>
</section>