<div class="counter" id="c<%= @counter.id %>" data-date="<%= @counter.date.strftime("%d/%m/%Y") %>" data-time="<%= @counter.time.strftime("%H:%M") %>" data-name="<%= @counter.name %>" data-id="<%= @counter.id %>">
  <div class="data"></div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    new window.Counter($(".counter"));
  });
</script>
